body {
		background-image: url("monsters.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
	}

.content {
		font-size: 120%;
		color: silver;
}

.logo {
	background-image: url('cdpr.jpg');
	background-size: cover;
	width: 200px;
	height: 100px;
	transition: ease-in-out 0.3s;
}

.logo:hover {
	margin-left: 100px;
	margin-top: 60px;
	transform:scale(2.0);
	tranform:translate(20px 100px) ;
}
@media screen and (min-width:300px) and (max-width:414px){
	.logo{
		width: 100%;
		transition: 0.3s ease;
	}
	.logo:hover{
		transform: scale(2.5);
	}
}